<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Package1">
    <classes>
      <class name="Package.loginTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Package2">
    <classes>
      <class name="Package.Activity"/>
    </classes>
  </test> <!-- Test -->
  <test name="Package3">
    <classes>
      <class name="Package.sendkudostest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Package4">
    <classes>
      <class name="Package.KudosSearch"/>
    </classes>
  </test> <!-- Test -->
  <test name="Package5">
    <classes>
      <class name="Package.RecentTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Package6">
    <classes>
      <class name="Package.mod6test"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
